@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    color: #000;
}

section {
    display: flex;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 35px;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tr {
    &:nth-child(even) {
        background-color: lightgray;
    }
}

.hidden-modal {
    display: none;
}
.overlay__modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

}